*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.miniSlider{
    width: 700px;
    margin: auto;
    ul{
        li{
            width: 700px;
            margin: 10px;
            
            img{
                width: 100%;
                background-size: contain;
                
            }
        }
    }
}
#slider{
    width: 900px;
    margin: auto;
    position: relative;
    overflow: hidden;

#prev,#next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

}
#prev{
    left: 15px;
}
#next{
    right:15px;
}
ul{
    li{
        width: 900px;
        img{
            width: 900px;
            object-fit: cover;
            height: 900px;
        }
    }
}
}

